@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

:root {
	--accent: #51a2ff;
}
div.justify {
	width: 100%;
	text-align: justify;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 84dvh;
	padding: 0 1em;
	height: fit-content;
	.intro {
		height: 25em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		img.logo {
			margin: auto;
			width: 10em;
			border-radius: 5em;
			padding-bottom: 0.5em;
		}
	}
}

.grid-container {
	display: grid;
	/* Automatically fits columns based on available space */
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	max-width: 125rem; /* Constrains line lengths while utilizing width */
	margin: 0 auto;
	margin: 1rem 0;

	@media screen and (max-width: 1920px) {
		grid-template-columns: 1fr;
	}

	div {
		background-color: #33333333;
		padding: 1rem;
		border-radius: 1rem;
		border-color: var(--accent);
		border-width: 0.05rem;
		border-style: solid;
	}
}
.grid-container.skills {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0.5rem;
	@media screen and (max-width: 1920px) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: 1000px) {
		grid-template-columns: 1fr;
	}
	div {
		h2 {
			text-align: left;
		}
		ul {
			font-size: larger;
		}
	}
}
.about-me {
	@media screen and (min-width: 1920px) {
		max-width: 125rem;
	}
	h2.title {
		text-align: center;
	}
}
hr {
	color: var(--accent);
	border: 0.0625em solid var(--accent);
	width: 100%;
	opacity: 0.75;
}
a {
	color: var(--accent);
}

.socials {
	margin: 0;
	a {
		padding: 0 0.5em;
		font-size: 1.5em;
	}
	a.back {
		padding-right: 0;
	}
	a.front {
		padding-left: 0;
	}
}

.navigation {
	min-height: calc(8dvh - 1em - 0.0625em);
	height: fit-content;
	padding: 0;
	background-color: inherit;
	border-bottom: 0.0625em solid var(--accent);
	margin-bottom: 1em;
	a,
	a:active {
		color: white;
	}
	a:hover {
		color: var(--accent);
	}
	img.logo {
		width: 2em;
		border-radius: 1em;
	}
	padding: 0 1em;
}

.footer {
	height: calc(8dvh - 1em - 0.0625em);
	margin-top: 1em;
	padding: 0 1em 0 1em;
	background-color: inherit;
	border-top: 0.0625em solid var(--accent);
	margin-bottom: 1em;
	img.logo {
		width: 2em;
		border-radius: 1em;
	}
	a.active {
		color: #ffffff8c !important;
	}
	a:hover {
		color: var(--accent);
	}
	@media screen and (max-width: 1000px) {
		padding: 0 1em;
	}
}
